@model IEnumerable<OXG.ServiceCenterWeb.Models.Work>
@{
    ViewData["Title"] = "Works";
}

<h1>Услуги СЦ:</h1>

<div class="card border-primary mb-3">
    <div class="card-header">Все</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Кол-во по умолчанию</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Num</td>
                        <td><a asp-controller="Admin" asp-action="EditWork" asp-route-id="@item.Id"><img src="~/Files/diodon.png" width="30px" height="30px" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
