@model OXG.ServiceCenterWeb.Models.Receipt
@{
    ViewData["Title"] = "Квитанция";
}

<h1></h1>

@using (Html.BeginForm("Edit"))
{
<fieldset>
    <legend>Номер квитанции: @Model.Id</legend>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleSelect1">Мастер</label>
            <select asp-for="Employeer.Id" asp-items="ViewBag.Employeers" id="exampleSelect1"></select>
            <span asp-validation-for="Employeer.Name" />
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleSelect2">Статус</label>
            <select asp-for="Status" asp-items="ViewBag.Status" id="exampleSelect2"></select>
            <span asp-validation-for="Status" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Оборудование:</label>
            <input class="form-control" asp-for="Equipment.Name" placeholder="Системный блок">
            <span asp-validation-for="Equipment.Name" />
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Аксессуары:</label>
            <input class="form-control" asp-for="Equipment.Accesories" placeholder="">
            <span asp-validation-for="Equipment.Accesories" />
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Заявленная неисправность:</label>
        <input class="form-control" asp-for="Malfunction" placeholder="Настройка ОС">
        <span asp-validation-for="Malfunction" />
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Номер клиента:</label>
            <input class="form-control" asp-for="Client.Phone" placeholder="8-999-999-99-99">
            <span asp-validation-for="Client.Phone" />
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Имя клиента:</label>
            <input class="form-control" asp-for="Client.Name" placeholder="Иванов Иван">
            <span asp-validation-for="Client.Name" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="Warranty" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Повторное обращение</label>
            </div>
        </div>
        <div class="form-text col-lg-6">
            <label for="exampleInputEmail1">Результат диагностики:</label>
            <textarea class="form-control" asp-for="DiagnosticResult" placeholder=""></textarea>
            <span asp-validation-for="DiagnosticResult" />
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Всего</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.ServicesProvidet.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model.ServicesProvidet[i].Name</td>
                        <td>@Model.ServicesProvidet[i].Num</td>
                        <td>@Model.ServicesProvidet[i].Price</td>
                        <td>@((Model.ServicesProvidet[i].Price * Model.ServicesProvidet[i].Num).ToString()) |@if(Model.Status!="Выдано"){<a asp-action="DeleteWork" asp-controller="Receipt" asp-route-id="@Model.ServicesProvidet[i].Id" asp-route-RID="@Model.Id">Удалить</a>}</td>
                    </tr>
                }
                <tr class="table-info">
                    <th scope="row">ИТОГО</th>
                    <td></td>
                    <td>@(Model.ServicesProvidet.Sum(r => r.Num))</td>
                    <td></td>
                    <td>@(Model.ServicesProvidet.Sum(r => r.Price * r.Num))</td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.Status != "Выдано")
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Добавить услугу
        </button>
     }
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление услуги:</h5>

                    </div>
                    <div class="modal-body">

                        <label for="exampleSelect1">Услуга</label>
                        <select name="work" asp-items="ViewBag.Works" id="exampleSelect1"></select>
                        <div class="row">
                            <div class="form-group ">
                                <label for="numWrk">Кол-во:</label>
                                <input type="number" name="numWrk" id="numWrk">
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input asp-action="Edit" type="submit" class="btn btn-primary" name="AddWorkBtn" value="Добавить услугу" />
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <hr />
        @if (Model.Status != "Выдано")
         {
            <input asp-action="Edit" type="submit" class="btn btn-primary" name="closeBtn" value="Провести и закрыть" />
            <input asp-action="Edit" type="submit" class="btn btn-primary" name="saveBtn" value="Сохранить изменения" />
         }
    </fieldset>
}